
a{
    text-decoration: none;
    color: #EAD8B1;
    }
    
a:visited{
    text-decoration: none;
    color: #EAD8B1;
    transition: colour 0.2s ease;
    }

body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

h1 {
    color: #EAD8B1;
    font-size: larger;

}

/*  -----------------Header Element Starts Here-------------------- */

nav{
    background-color: #202730;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    box-shadow:
    0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}

div.header_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}

ul.user_options{
    width: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    font-size: larger;
    gap: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    margin: auto;
}

.header_element{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    border-radius: 5%;
    transition: background-color 0.2s ease-in;
    color: #EAD8B1;
}

.header_element:visited{
    text-decoration: none;
}

.header_element:hover{
    background-color: #303a48;

}


/*   End header element   */

.lady{
    position: absolute;
    background: url('https://raw.githubusercontent.com/turbomoisty/CS204/4f00e881a0c3b2c60d82b4f06008be6fd4ae298a/flaskr/images/lady.png')
    no-repeat ;
    margin-top: -3%;
    padding: 250px;
    background-size: 480px auto;
    background-position: center;
    top: 114px;
    z-index: -1;
    opacity: 0.1;
  }
#drop_area{
    padding: 30px;
    width: 30em;
    height: 45vh;
    background-color: transparent;
    margin-top: 12%;
    border: 3px dashed aliceblue; 
    border-radius: 5%;
    text-align: center;

}