:root{
    --main_colour_white: aliceblue;
    --main_colour_dark: #202730;
}



a{
    text-decoration: none;
    color: #EAD8B1;
    }
    
a:visited{
    text-decoration: none;
    color: #EAD8B1;
    transition: colour 0.2s ease;
    }

body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

h1 {
    color: #EAD8B1;
    font-size: larger;

}

/*  -----------------Header Element Starts Here-------------------- */

nav{
    background-color: var(--main_colour_dark);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    box-shadow:
    0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}

div.header_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}

ul.user_options{
    width: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    font-size: larger;
    gap: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    margin: auto;
}

.header_element{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    border-radius: 5%;
    transition: background-color 0.2s ease-in;
    color: #EAD8B1;
}

.header_element:visited{
    text-decoration: none;
}

.header_element:hover{
    background-color: #303a48;

}


/*   End header element   */

.lady{
    position: absolute;
    background: url('https://raw.githubusercontent.com/turbomoisty/CS204/4f00e881a0c3b2c60d82b4f06008be6fd4ae298a/flaskr/images/lady.png')
    no-repeat ;
    margin-top: -3%;
    padding: 250px;
    background-size: 480px auto;
    background-position: center;
    top: 114px;
    z-index: -1;
    opacity: 0.1;
  }

#drop_area{
    padding: 10px;
    width: 25em;
    height: 50vh;
    background-color: transparent;
    margin-top: 5%;
    border-radius: 5%;
    text-align: center;

}

#file_view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-color: rgba(48, 58, 72,0.2);
    border: 2px dashed var(--main_colour_white);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


#file_view > img{
    height: 20%;
    width: auto;
}



#file_view > p, p{
    font-size: 1.2em;
    color: var(--main_colour_white);
}

#file_view > span {
    font-size: 0.8em;
    color:rgb(166, 171, 175)
}


/*   SUMBIT button and Passcode box START*/

#option_button{
    justify-content: center;
    margin-top: 8%;
    display: grid;
    grid-template-columns: 2, 2fr;
    gap: 10px;
    display: none;
}


#passcode_input{
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.b1{
    margin-left: 1em;
}

.b1, .b2 {
    width: 80px;
    color: var(--main_colour_white);
    border: 1px solid var(--main_colour_white);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}

.b1:active, .b2:active{
 transform: scale(0.92);

}

/*   SUMBIT button and Passcode box END*/


/* Error box START*/

#error-box > div{
    background-color: rgba(48, 58, 72,0.2);
    position: fixed; 
    inset: 0;
    z-index: 99;
}
 #error-box >div>div{
    border: 3px solid rgb(248, 103, 103);
    background-color: var(--main_colour_dark); 
    color: var(--main_colour_white);
    padding: 20px;
    border-radius: 2%;
    margin: 20% auto; 
    width: 50%; 
    text-align: center;
 }
/* Error box END*/



.warning_text{
    transition: transform 222ms ease-in-out;
}

.warning_text:hover{
    transform: scale(1.12);
}
