
/* ---------BECAUSE I KEEP FORGETTING------------*/
/* target: parent-tag > child-tag 
     target: former_element + preceding_element - Will only target the one preceding element
     target: former_element ~preceding element - Will target all preceding element until break into another tag.
      */






a{
    text-decoration: none;
    color: #EAD8B1;
    }
    
a:visited{
    text-decoration: none;
    color: #EAD8B1;
    transition: colour 0.2s ease;
    }

body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

h1 {
    color: #EAD8B1;
    font-size: larger;

}

/*  -----------------Header Element Starts Here-------------------- */

nav{
    background-color: #202730;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    box-shadow:
    0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}

div.header_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}

ul.user_options{
    width: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    font-size: larger;
    gap: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    margin: auto;
}

.header_element{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    border-radius: 5%;
    transition: background-color 0.2s ease-in;
    color: #EAD8B1;
}

.header_element:visited{
    text-decoration: none;
}

.header_element:hover{
    background-color: #303a48;

}

/*  -----------------Header Element Ends Here-------------------- */

.option_grid{
    margin-top: 6%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12%;
    row-gap: 6%;
    justify-content: center;
    flex-wrap: tr;
}

.option{
    position: relative;
    border: 1px solid aliceblue;
    background-color:#15191F;
    border-radius: 12px;
    height: 230px;
    width: 230px;
    color: #EAD8B1;
    text-align: center;
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    opacity: 0.8;

}

.option_help:hover{
    cursor: pointer;
}


div.option a{
    color: aliceblue;
    margin-top: 2%;
    transition: transform 0.2s ease-in-out;
}

div.option a:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.pic{
    height: 150px;
    width: 150px;
    background-color: aliceblue;
    transition: transform 0.2s ease-in-out;
}

.pic:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.tool_tip_text{
    display: none;
    border: 1px solid aliceblue;
    z-index: 1;
    position: absolute;
    background-color: #15191F;
    font-weight: 100;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
   }