<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hash Check</title>
    <link rel="stylesheet" href="{{url_for('static', filename='file_encrypt.css')}}">
    <title>{% block title %}{% endblock %} File Ecryption</title>

    <style>
        
        html{
            background-color: #15191F;
        }
        
        .back{
            position: fixed;
            font-size: 1.5rem;
            font-weight: bold;
            margin-left: 3%;
            margin-top: -12em;
            width: 120px;
            transition: transform 0.5s ease-in-out;
            left: 1px;
        }

        .back:hover{
            transform: scale(1.1);
            cursor: pointer;
        }

        .username_session{

            color: #EAD8B1;
          }


    </style>
</head>

<body>
    <nav>
        <div class="header_text">
            <ul class="user_options">
          {% if g.user %}
              <li class = "username_session"><span>Welcome {{ g.user['username'] }}</span>
              <li><a href="{{ url_for('auth.login') }}">Log Out</a>
          {% else %}
              <li class="header_element contact"><a href="">Contact us</a>
              <li class="header_element register"><a href="{{ url_for('auth.register') }}">Register</a>
              <li class="header_element login"><a href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
            </ul>
        </div>
      </nav>


      
      <a class="back" href="{{url_for('views.main_page')}}" style="color: aliceblue;"> << Return</a>
      <div class="lady" style="z-index: -1;"></div>

      <label for="input_file" id='drop_area'>
        <div id="file_view">
            <img src="https://raw.githubusercontent.com/turbomoisty/CS204/335b9e6bef7c147f77e1fdbe7db029ec9309101d/flaskr/images/upload_w.png">
            <p>Drag and drop or click anywhere within the square <br>to upload your file</p>
            <span>Upload any files from the desktop</span>
        </div>

        {% if error_message %}
            <div id="error-box" style="display: block;">
                <div>
                    <div>
                        <h3>Error: {{ error_message }}</h3>
                        <button onclick="displayError()">Close</button>
                    </div>
                </div>
            </div>
        {% endif %}

            <form action="/file_encrypt"  method="POST" enctype="multipart/form-data" id="option_button" hidden>
                <input type="file" id="input_file" name="file" hidden required>
                <label for="passcode_input" id="passcode_input_box">
                <input type="password" id="passcode_input" name="passcode" placeholder="Enter your Passcode">
                <!-- Style value is needed on both button tag otherwise CSS file won't recognise it?? -->
                <button class="b1" style="background-color: rgb(66, 78, 78);" type="submit" name="action" value="encrypt">Encrypt</button> 
                <button class="b2" style="background-color: rgb(66, 78, 78);" type="submit" name="action" value="decrypt">Decrypt</button>
            </form>

      </label>
      <p class="warning_text" style="width: 60vw; border: 2px dashed white; font-size: 1em; justify-self: center; margin-top: 3em; padding: 1em;" > !Please ensure once the file has been decrypted, any trailing characters containing <span style="color: rgb(254, 122, 149);">".remove_me"</span> are removed! </p>

      <script 

      src="{{ url_for('static', filename='file_encrypt.js') }}">

    
      </script>
</body>
</html>