<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="icon" href="https://raw.githubusercontent.com/turbomoisty/CS204/9c82a72a6be3bd446cb926b0563f374d87031a7b/flaskr/images/shield_nb.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='password_manager.css')}}">
    <style>

        h1{
            text-align: center;
        }

        #data_input_form  button{
            background-color: #181d24;
            margin-left: 1em;
            border: 1px solid aliceblue;
            color: aliceblue;
            transition: transform 200ms ease-in-out;
        }

        #data_input_form  button:hover{
            transform: scale(1.12);
        }

        #data_input_form  button:active{
            transform: scale(0.95);
        }

    </style>
</head>
<body>

    <nav>
        <ul id="nav_bar">
            <div>
                <li class="Home icon" style="margin-bottom: 0.2em;"> <a href="{{url_for('views.main_page') }}">AESgis defense</a></li>
                <img src="https://raw.githubusercontent.com/turbomoisty/CS204/9c82a72a6be3bd446cb926b0563f374d87031a7b/flaskr/images/shield_nb.png">
            </div>

        </ul>
    </nav>

    <div class="lady"></div>


{% block content %}

<div id="entry_input">
    <h1>Password Manager</h1>

    <form id="data_input_form" method="POST">
        <label for="file_title">Title:</label>
        <input type="text" id="file_title" name="file_title" required>

        <label for="file_password">Password:</label>
        <input type="password" id="file_password" name="file_password" required>
        <button type="submit">Save Password</button>
    </form>
</div>


<div id="table_content">
    {% if user_files %}

        <h2>Saved Passwords</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Password</th>
            <th>Created Date</th>
        </tr>
        {% for file in user_files %}
        <tr>
            <td>{{ file['file_title'] }}</td>
            <td>{{ file['file_password']}}</td>
            <td>{{ file['created_date'] }}</td>
            <td class="table_data_form">        
                <form method="POST" action="{{ url_for('views.delete_password') }}">
                <input type="hidden" name="file_id" value="{{ file['id'] }}">
                <button type="submit" style="border-radius: 60%; background-color: #181d24; color: aliceblue;" onclick="return confirm('Are you sure you want to delete this password?')">X</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No saved passwords yet! Add one using the form above.</p>
    {% endif %}
{% endblock %}

</div>


</body>
</html>
